<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="beanProperty" class="com.javadevmap.bean.Product">
		<property name="id" value="1002"></property>
		<property name="name" value="java dev map"></property>
	</bean>

</beans>
